@using CaseModels;
@model Author

<form method="post" asp-action="Delete">
	<input asp-for="Id" hidden />
	<div class="p-3 mt-4">
		<div class="row pb-2">
			<h2>Yazar Silme</h2>
			<br />
		</div>
		<div class="mb-3">
			<label asp-for="Name"></label>
			<input asp-for="Name" disabled class="form-control" />
		</div>
		<div class="mb-3">
			<label asp-for="About"></label>
			<input asp-for="About" disabled class="form-control" />
		</div>
		<button type="submit" class="btn btn-danger">Sil</button>
		<a asp-controller="Author" asp-action="Index" class="btn btn-secondary">
			Geri Dön
		</a>
	</div>
</form>