@using CaseModels;
@model IEnumerable<Author>
@{
    ViewData["Title"] = "Index";
}

<div class="p-1 mt-1 row">
    <div class="text-center">
        <h2>Yazar Sayfası</h2>
    </div>
    <div class="col-12 mx-auto">
        <table class="table table-center">
            <thead>
                <tr class="text-center">
                    <th style="width: 30%">Yazar İsmi</th>
                    <th style="width: 30%">Hakkında</th>
                    <th style="width: 30%">OperasyonLar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="text-center">
                        <td>@item.Name</td>
                        <td>@item.About</td>
                        <td>
                            <a style="width: 48%" href="/Author/Delete/@item.Id" class="btn btn-outline-danger">Sil</a>
                            <a style="width: 48%" href="/Author/Edit/@item.Id" class="btn btn-outline-success">Güncelle</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a href="/Author/Create/" class="btn btn-outline-primary">Yeni Yazar Ekleme</a>
    </div>
</div>