@using CaseModels.Concrete;
@model Order

<form method="post" asp-action="Edit">
	<div class="p-1 mt-1">
		<div class="row pb-2">
			<h2>Order Update Page</h2>
			<br />
		</div>
		<div class="mb-3">
			<label class="control-label">Customer Name</label>
			<input asp-for="CustomerName" class="form-control" />
			<span asp-validation-for="CustomerName" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label class="control-label">Customer Email</label>
			<input asp-for="CustomerEmail" class="form-control" />
			<span asp-validation-for="CustomerEmail" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label class="control-label">Customer GSM</label>
			<input type="tel" asp-for="CustomerGSM" class="form-control" />
			<span asp-validation-for="CustomerGSM" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label class="control-label">Total Amount</label>
			<input type="number" asp-for="TotalAmount" class="form-control" />
			<span asp-validation-for="TotalAmount" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-success">Update</button>
		<a asp-controller="Order" asp-action="Index" class="btn btn-secondary">
			Turn Back
		</a>
	</div>
</form>