@model CaseModels.ViewModels.OrderDetailVM

<form method="post" asp-action="Upsert">
    <h2 class="text-black text-center">@(Model.OrderDetail.Id != 0 ? "Update" : "Create")  Order Detail</h2>
    <input asp-for="OrderDetail.Id" type="hidden" />
    <div class="row">
        <div class="p-1 mt-1">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3">
                    <label>Customer Name</label>
                    <select asp-for="OrderDetail.OrderId" asp-items="@Model.OrderList" class="form-select">
                        <option disabled selected>-- Customer Name Select --</option>
                    </select>
                    <span asp-validation-for="OrderDetail.OrderId" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label>Description</label>
                    <select asp-for="OrderDetail.ProductId" asp-items="@Model.ProductList" class="form-select">
                        <option disabled selected>-- Description Select --</option>
                    </select>
                    <span asp-validation-for="OrderDetail.ProductId" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="OrderDetail.UnitPrice" class="control-label"></label>
                    <input asp-for="OrderDetail.UnitPrice" class="form-control" />
                    <span asp-validation-for="OrderDetail.UnitPrice" class="text-danger"></span>
                </div>
                <div class="col-12">
                    @if (Model.OrderDetail.Id != 0)
                    {
                        <button type="submit" class="btn btn-primary" style="width:10%">Update</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary" onclick="return ValidateInput()" style="width:10%">Add</button>
                    }
                    <a asp-controller="OrderDetail" asp-action="Index" class="btn btn-secondary">
                        Turn Back
                    </a>
                </div>
            </form>
        </div>
    </div>
</form>